pipeline/PL_SQL_TO_CSV_LOADING.json
{
	"name": "PL_SQL_TO_CSV_LOADING",
	"properties": {
		"activities": [
			{
				"name": "CPY_DATA_SQL_CSV",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "EmpID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "EmpID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Age",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Age",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Salary",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "Salary",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "JoiningDate",
									"type": "Date",
									"physicalType": "date"
								},
								"sink": {
									"name": "JoiningDate",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_TABLE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_CSV_FILE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sucess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_DATA_SQL_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatuss]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('CPY_DATA_SQL_CSV').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": null,
							"type": "String"
						},
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('CPY_DATA_SQL_CSV').output.executionDetails[0]",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.schemaname,'.',pipeline().parameters.tablename)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ONPREM_SQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"schemaname": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "Employee"
			}
		},
		"annotations": []
	}
}